:root{
    --bg: #707070;
    --white: #FFFFFF;
    --botao: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}

body{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2444px;
    background: var(--white) 0% 0% no-repeat padding-box;
    opacity: 1;
}

header{
    /*Layout properties*/
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 399px;
    /*UI Properties*/
    background-image: linear-gradient(-175.8deg, var(--bg) 80%, var(--white) 80%);
    border: 1px var(--bg);
    opacity: 1;
}

header h3{
    position: relative;
    top: 69px;
    left: 490px;
    width: 270px;
    height: 23px;
    text-align: left;
    font-family: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 1;
}

 header h1{
    position: relative;
    top: 80px;
    left: 430px;
    width: 358px;
    height: 48px;
    text-align: center;
    font-family: normal normal bold 40px/49px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 40px;
 }

 header p{
    position: relative;
    top: 100px;
    left: 310px;
    width: 590px;
    height: 16px;
    text-align: center;
    font-family: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
    font-size: 14px;
 }
 
header nav{
    top: 230px;
    left: 371px;
    width: 769px;
    height: 50px;
    opacity: 1;
}

 header nav a{
    position: relative;
    top: 170px;
    left: 250px;
    width: 160px;
    height: 40px;
    color: black;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    padding: 12px 27px;
    margin-right: 25px;
}

nav#conteiner{
    position: relative;
    top: -150px;
}

nav h4.art{
    position: relative;
    top: 250px;
    left: 110px;
    width: 332px;
    height: 23px;
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

nav article{
    position: relative;
    top: 273px;
    left: 90px;
    width: 520px;
    height: 220px;
    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

nav article p{
    margin: 15px;
}

form.formulario{
    position: relative;
    top: 20px;
    left: 710px;
    width: 340px;
    height: 227px;
    opacity: 1;
}

form input.text{
    position: relative;
    top: 0px;
    left: 0px;
    width: 370px;
    height: 30px;
    margin-bottom: 17px;
}

button.for{
    position: relative;
    top: 55px;
    left: 720px;
    width: 340px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

body p.meio{
    position: relative;
    top: 88px;
    left: 506px;
    width: 181px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

nav div.num1{
    position: relative;
    top: -524px;
    left: -180px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num2{
    position: relative;
    top: -1235px;
    left: 60px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num3{
    position: relative;
    top: -1945px;
    left: 300px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num4{
    position: relative;
    top: -2655px;
    left: 550px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav h4#n1{
    position: relative;
    top: -525px;
    left: -180px;
    width: 200px;
    height: 150px;
}
nav h4#n2{
    position: relative;
    top: -1235px;
    left: 60px;
    width: 200px;
    height: 150px;
}
nav h4#n3{
    position: relative;
    top: -1945px;
    left: 300px;
    width: 200px;
    height: 150px;
}
nav h4#n4{
    position: relative;
    top: -2655px;
    left: 550px;
    width: 200px;
    height: 150px;
}
p#d1{
    position: relative;
    top: -650px;
    left: -180px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
p#d2{
    position: relative;
    top: -1360px;
    left: 60px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
p#d3{
    position: relative;
    top: -2070px;
    left: 300px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
p#d4{
    position: relative;
    top: -2780px;
    left: 550px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav div.num5{
    top: 1249px;
    left: 286px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num6{
    position: relative;
    top: 1249px;
    left: 527px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num7{
    position: relative;
    top: 1249px;
    left: 768px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num8{
    position: relative;
    top: 1249px;
    left: 1009px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

body nav.compras{
    position: relative;
    top: 860px;
    left: 285px;
    width: 931px;
    height: 740px;
    opacity: 1;
}
nav div.base1{
    position: relative;
    top: -100px;
    left: -245px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base2{
    position: relative;
    top: -1000px;
    left: -10px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base3{
    position: relative;
    top: 860px;
    left: 767px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base4{
    position: relative;
    top: 860px;
    left: 1008px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base5{
    position: relative;
    top: 1249px;
    left: 285px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base6{
    position: relative;
    top: 1249px;
    left: 526px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base7{
    position: relative;
    top: 1249px;
    left: 767px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base8{
    position: relative;
    top: 1249px;
    left: 1008px;
    width: 201px;
    height: 350px;
    opacity: 1;
}