:root{
    --bg: #707070;
    --white: #FFFFFF;
    --botao: #888888;
    --page: #00000029;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--white) 0% 0% no-repeat padding-box;
    opacity: 1;
}
header{
    /*Layout properties*/
    width: 100%;
    height: 399px;
    /*UI Properties*/
    background-image: linear-gradient(-175.8deg, var(--bg) 80%, var(--white) 80%);
    border: 1px var(--bg);
    opacity: 1;  
}
header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header h1{
    position: relative;
    margin-top: 7%;
    width: 100%;
    margin-bottom: 70px;
    margin: 5px;
    text-align: center;
    font-family: normal normal bold 40px/49px Helvetica Neue;
    color: #FFFFFF;
    font-size: 40px;
    top: -90px;
    left: 350px;
}
header nav a{
    padding: 10px;
    width: 180px;
    position: relative;
    color: var(--botao);
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px var(--page);
    border: 1px solid var(--bg);
    border-radius: 4px;
    opacity: 1;
    padding: 12px 27px;
    margin-left: 20px;
    text-align: center;
    display: block;
}
header nav{ 
    display: flex;
    width: 100%;
    position: relative;
    top: 50px;
    left: -350px;
    opacity: 1;

}
header h3{
    position: relative;
    top: 85px;
    left: 250px;
    width: 50%;
    letter-spacing: 0;
    text-align: center;
    font-family: normal normal normal 20px/24px Helvetica Neue;
    color: #FFFFFF;
    font-size: 20px;
}
header p{
    position: relative;
    top: -250px;
    left: 350px;
    width: 40%;
    height: 16px;
    text-align: center;
    font-family: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
    font-size: 14px;
}
nav#conteiner{
    position: relative;
    top: -150px;
}
nav h4.art{
    position: relative;
    top: 250px;
    left: 110px;
    width: 30%;
    height: 23px;
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav article{
    position: relative;
    top: 273px;
    left: 90px;
    width: 40%;
    height: 220px;
    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav article p{
    margin: 15px;
}
form.formulario{
    position: relative;
    top: 20px;
    left: 710px;
    width: 30%;
    height: 227px;
    opacity: 1;
}
form input.text{
    position: relative;
    top: 0px;
    left: 0px;
    width: 370px;
    height: 30px;
    margin-bottom: 17px;
}
button.for{
    position: relative;
    top: 55px;
    left: 720px;
    width: 340px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}
body p.meio{
    position: relative;
    top: 88px;
    left: 506px;
    width: 181px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav div.num1{
    position: relative;
    top: -524px;
    left: -180px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num2{
    position: relative;
    top: -1235px;
    left: 60px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num3{
    position: relative;
    top: -1945px;
    left: 300px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num4{
    position: relative;
    top: -2655px;
    left: 550px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav h4#n1{
    position: relative;
    top: -525px;
    left: -180px;
    width: 200px;
    height: 150px;
}
nav h4#n2{
    position: relative;
    top: -1235px;
    left: 60px;
    width: 200px;
    height: 150px;
}
nav h4#n3{
    position: relative;
    top: -1945px;
    left: 300px;
    width: 200px;
    height: 150px;
}
nav h4#n4{
    position: relative;
    top: -2655px;
    left: 550px;
    width: 200px;
    height: 150px;
}
p#d1{
    position: relative;
    top: -650px;
    left: -180px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
p#d2{
    position: relative;
    top: -1360px;
    left: 60px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
p#d3{
    position: relative;
    top: -2070px;
    left: 300px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
p#d4{
    position: relative;
    top: -2780px;
    left: 550px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav div.base1{
    position: relative;
    top: -650px;
    left: -180px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base2{
    position: relative;
    top: -1360px;
    left: 60px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base3{
    position: relative;
    top: -2070px;
    left: 297px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.base4{
    position: relative;
    top: -2780px;
    left: 555px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav div.num5{
    position: relative;
    top: -2999px;
    left: -186px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num6{
    position: relative;
    top: -3710px;
    left: 67px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num7{
    position: relative;
    top: -4420px;
    left: 308px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
nav div.num8{
    position: relative;
    top: -5130px;
    left: 559px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
body nav.compras{
    position: relative;
    top: 860px;
    left: 285px;
    width: 931px;
    height: 740px;
    opacity: 1;
}
nav div.base5{
    position: relative;
    top: -3109px;
    left: -180px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav h4#n5{
    position: relative;
    top: -2995px;
    left: -180px;
    width: 200px;
    height: 150px;
}
p#d5{
    position: relative;
    top: -3115px;
    left: -180px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav div.base6{
    position: relative;
    top: -3825px;
    left: 66px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav h4#n6{
    position: relative;
    top: -3710px;
    left: 70px;
    width: 200px;
    height: 150px;
}
p#d6{
    position: relative;
    top: -3825px;
    left: 70px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav div.base7{
    position: relative;
    top: -4540px;
    left: 310px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav h4#n7{
    position: relative;
    top: -4420px;
    left: 310px;
    width: 200px;
    height: 150px;
}
p#d7{
    position: relative;
    top: -4540px;
    left: 310px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
nav div.base8{
    position: relative;
    top: -5249px;
    left: 560px;
    width: 201px;
    height: 350px;
    opacity: 1;
}
nav h4#n8{
    position: relative;
    top: -5129px;
    left: 560px;
    width: 200px;
    height: 150px;
}
p#d8{
    position: relative;
    top: -5249px;
    left: 560px;
    width: 200px;
    height: 60px;
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
.btn-compra{
    top: 1180px;
    left: 1009px;
    width: 200px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}
.ver-mais{
    position: relative;
    top: 451px;
    left: 480px;
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}
#divulgar{
    position: relative;
    top: 651px;
    left: 520px;
    width: 204px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
#text-form{
    position: relative;
    top: 750px;
    left: 350px;
    width: 534px;
    height: 16px;
    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
form.form2{
    position: relative;
    top: 800px;
    left: 300px;
    width: 720px;
    height: 51px;
    opacity: 1;
}
input form.form2{
    top: 1960px;
    left: 390px;
    width: 340px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
label form.form2{
    top: 1939px;
    left: 390px;
    width: 112px;
    height: 14px;
    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
#convite{
    position: relative;
    top: 850px;
    left: 450px;
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}
.rodape{
     /*Layoutproperties*/
     position: relative;
     top: 900px;
     width: 100%;
     height: 399px;
     text-align: center;
     color: var(--white);
     /*UIProperties*/
     background-image: linear-gradient(50deg, var(--bg) 80%, var(--white) 50%);
     border: 1px var(--bg);
     opacity: 1;
}
footer h6{
    position: relative;
    text-align: center;
    top: 50px;
    left: 500px;
    width: 16%;
    font-size: 10px;
    border: solid 1px violet;
}